{{#if bonuses.length}}
  <div class="bonus-display">
    <table class="bonus-table">
      <thead>
        <tr>
          <th>Bonus Type</th>
          <th>Value</th>
          <th>Applied</th>
        </tr>
      </thead>
      <tbody>
        {{#each bonuses as |bonus|}}
          <tr>
            <td>{{getBonusDisplayName bonus.type}}</td>
            <td>{{bonus.value}}</td>
            <td>
              <input type="checkbox" disabled {{#if bonus.wasApplied}}checked{{/if}}>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
