<form>
  <div class="hero-section">
    <h3>Heroes of The Lance</h3>
    <div>{{partyMemberString}}</div>
  </div>
  
  {{> timeDataFields}}

  {{> provisionFields}}

  {{> partyGroupInfoFields}}
</form>
