<div class="icon-container">
  {{#if isComplete}}
    <div class="icon-overlay"><img src="{{checkMarkIcon}}" alt="Completed"></div>
  {{/if}}
  <img src="{{icon}}" class="main-icon" alt="Icon">
</div>
