<div class="category-buttons">
  <i class="fa-solid fa-circle-caret-down take" data-category="{{category}}" {{#unless canAccept}}data-disabled{{/unless}}></i>
  <i class="fa-solid fa-circle-caret-up return" data-category="{{category}}" {{#unless canUnTake}}data-disabled{{/unless}}></i>
</div>
