.cs-hex-info-container {
  padding: 0.75rem 4rem; /* Adding padding to each side of the container */
}

.cs-hex-info-top-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cs-hex-info-move-cost, .cs-hex-info-locale {
  font-weight: bold;
}

.cs-hex-info-tiles {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.cs-hex-info-tile {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 12rem;

  &:last-child .cs-event-info {
    left: unset;
    right: 100%;
  }
}

.cs-hex-info-tile img {
  width: 8rem;
  height: 8rem;
}

.cs-hex-info-tile h2 {
  text-align: center;
  max-width: 120%; /* Ensure it doesn't exceed 50% more than the icon width */
  word-wrap: break-word;
}

/* Mouseover effect for event info */
.cs-hex-info-tile:hover .cs-event-info {
  display: block;
}

.cs-event-info {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px; /* Space between the icon and the hover effect */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  white-space: nowrap;
}
