<div class="foraging-yield-details-container">
  <form>
    {{> title}}
    {{> detailsRow}}
    {{> iconContainer}}
    <p class="description">{{description}}</p>
    {{> survivalCheck}}
    {{#if isComplete}}
      <div class="yield-details">
        <h2>Yield Results</h2>
        {{#if allYieldTaken}}
          <div class="yield-message">{{yieldMessage}}</div>
        {{else}}
          {{> yieldTable}}
        {{/if}}
      </div>
    {{/if}}
    {{> partyInventory}}
    {{#if isComplete}}
      <button type="submit" class="submit-forage"{{#if isForagingComplete}} disabled{{/if}}>Accept</button>
    {{else}}
      <button type="button" class="cancel-forage">Close</button>
    {{/if}}
  </form>
</div>
